{% extends 'base.html.twig' %}

{% block title %}Suivi de la Candidature{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mb-4">Suivi de la candidature #{{ candidat.id }}</h1>

        {% set statusMapping = {
            'candidature_recue': {'badgeClass': 'badge-primary', 'bgColor': '#007bff', 'listClass': 'list-group-item-primary'},
            'entretien_planifie': {'badgeClass': 'badge-warning', 'bgColor': '#ffc107', 'listClass': 'list-group-item-warning'},
            'entretien_realise': {'badgeClass': 'badge-info', 'bgColor': '#17a2b8', 'listClass': 'list-group-item-info'},
            'test_technique': {'badgeClass': 'badge-info', 'bgColor': '#17a2b8', 'listClass': 'list-group-item-info'},
            'validation_rh': {'badgeClass': 'badge-info', 'bgColor': '#17a2b8', 'listClass': 'list-group-item-info'},
            'offre_envoyee': {'badgeClass': 'badge-success', 'bgColor': '#28a745', 'listClass': 'list-group-item-success'},
            'accepte': {'badgeClass': 'badge-success', 'bgColor': '#28a745', 'listClass': 'list-group-item-success'},
            'refuse': {'badgeClass': 'badge-danger', 'bgColor': '#f59f8d', 'listClass': 'list-group-item-danger'}
        } %}

        <h3 class="d-flex align-items-center">
            Statut actuel :
            <span class="badge {{ statusMapping[candidat.status].badgeClass }} rounded-pill px-3 py-2 ms-2"
                style="background-color: {{ statusMapping[candidat.status].bgColor }}; color: white;">
                {{ candidat.status | capitalize }}
            </span>
        </h3>

        <!-- Timeline des étapes -->
        <div class="timeline mt-4">
            <ul class="list-group">
                {% for status, details in statusMapping %}
                    <li class="list-group-item {% if candidat.status == status %}{{ details.listClass }}{% endif %}">
                        {{ status | capitalize }}
                    </li>
                {% endfor %}
            </ul>
        </div>

        <!-- Actions possibles -->
        <div class="mt-4">
            <h3>Actions possibles :</h3>
            <div class="list-group">
                {% for transition in workflow.getEnabledTransitions(candidat) %}
                    <a href="{{ path('candidature_progress', {'id': candidat.id, 'transition': transition.getName()}) }}" class="list-group-item list-group-item-action btn btn-outline-primary mb-2">
                        {{ transition.getName() | capitalize }}
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}